.Homes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: url("../../../src/assets/images/home.jpg") no-repeat center bottom/cover;
    border-radius: 50px;
    position: relative;
}

.skills {
    padding: 2rem;
    background: url("../../../src/assets/images/skills.jpg") no-repeat center bottom/cover;
    border-radius: 50px;
    margin: 7.5% 0%;
}

.projects {
    height: auto;
    background: url("../../../src/assets/images/projects.jpg") no-repeat center center/cover;
    border-radius: 50px;
    margin: 7.5% 0%;
    width: 100%;
    padding: 2rem 0rem;
}

.projects-set {
    /* overflow: hidden; */
    width: 110%;
    height: 100%;
}

.projects h1 {
    text-align: center;
    color: var(--text-color);
    padding: 1rem 0rem;
}

.contact {
    height: 100%;
    background: url("../../../src/assets/images/contact.jpg") no-repeat center bottom/cover;
    border-radius: 50px;
    margin: 7.5% 0%;

}


.title {
    font-weight: bold !important;
}

.skills-set {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    /* overflow: auto; */
}

.skills-card {
    color: var(--text-color);
    background-color: white;
    padding: 1rem;
    display: flex;
    width: 300px;
    border-radius: 150px;
    margin: 1rem 1rem .5rem 1rem;
    height: 85px;
}
.progressbar-parent{
    display: flex;
    align-items: center;
}



.projects-set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
}



.project-card figure {
    width: 15rem;
    min-width: 200px;
}

.project-card figure img {
    width: 100%;
    object-fit: cover;
}

.projects-set {
    display: flex;
    justify-content: left;
    color: var(--text-color);
    border-radius: 10px;
}
.project-card figure {
    vertical-align: middle;
}
.project-card {
    background-color: white;
    margin: 1rem auto;
    max-width: 90%;
    min-width: 90%;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: white;
    transition: all 0.7s;
}

.project-technologies ul {
    display: flex;
    flex-wrap: wrap;
}

.d-margin {
    margin: .4rem 0rem;
    width: auto;
}

.project-technologies ul li {
    margin-inline: 1rem;
}


.skills-card h3 {
    text-align: center;
}

.skills-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    vertical-align: middle;
}
.skill-progressbar{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.progressbar{
    width: 100px;
    height: 0.4rem !important;
    border-radius: 100px;
    margin: .4rem;
}
.project-details {
    margin-inline: 1rem;
}
.skill-progressbar{
  margin-inline: .5rem 
}
.skills-card figure {
    min-height: 120px;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("../../../src/assets/images/home.jpg") no-repeat center bottom/cover;
    border-radius: inherit;
}

.Loader img {
    width: 10rem;
    height: 10rem;
}

.avatar-image {
    width: 20rem !important;
    height: 20rem !important;
    animation: left-right 3s infinite alternate ease-in-out;
    object-fit: cover;
    border-radius: 100%;

}

.skills-title {
    text-align: center;
    color: var(--text-color);
    padding: 1rem 0rem;
}


.project-links {
    margin: 1rem 0rem;
}

.project-links a:last-child {
    margin-left: 1.1rem;

}

.project-links a:first-child {
    background-color: blue;
    color: white;
    padding: .3rem 1rem;
    border: none;
    border-radius: 100vmax;
}

.about {
    color: var(--text-color);
    margin: 0rem 1.1rem;
}

.about a {
    padding: .5rem 1.1rem;
    border-radius: 30px;
    border: none;
    background-color: var(--text-color);
    color: white;
    margin: 1rem 0rem;
    font-size: 1.1rem;
    display: inline-block;
    text-decoration: none;

}

#contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0rem;

}

.contact-content {
    width: 100%;
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem ;
    max-width: 600px;
    height: 90%;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 5px 10px 10px rgb(235, 235, 235);

}

.email-name {
    display: flex;
    width: 100%;
}

.contact-content form input,
.contact-content textarea {
    margin: .3rem;
    font-size: 1rem;
    padding: .9rem 1rem;
    outline: none;
    background-color: #e7e7e7;
    border-radius: 20px;
    border: none;
}

textarea {
    width: auto !important;
}

.live-demo{
    background-color: #6450bd !important;
    padding: 0.5rem 2rem !important;
}

.contact-content form input[type="submit"] {
    background-color: #6450bd;
    color: white;
    border: none;
    border-radius: 100vmax;
    padding: .7rem 0rem;
    font-size: 1.1rem;
}

.project-card:hover{
    transform: scale(105%);
}

.email-name input {
    width: 100%;

}

@keyframes left-right {

    100% {
        filter: drop-shadow(5px 5px 5px gray);
        transform: translateX(5px) translateX(5px);

    }

    0% {
        filter: drop-shadow(0 0 0 gray);
        transform: translateX(0px) translateX(0px);
    }
}




@media screen and (max-width: 900px) {
    .Homes {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .avatar-image {
        margin: 2rem 0rem;
        width: 10rem !important;
        height: 10rem !important;
        border-radius: 100%;
    }
}

@media screen and (max-width: 530px) {
    .about {
        font-size: .88rem;
        text-align: center;
    }
}


@media screen and (max-width: 430px) {
    .skills-set {
        width: 100%;
    }
    .contact form {
        padding: .3rem;
    }
}



@media screen and (max-width: 800px) {
    .project-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-card ul {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .email-name {
        flex-direction: column;
        width: 98%;
    }

    /* .skills-card {
        width: 50px;
        margin: 10px;
    } */

    .skills-card figure img {
        width: 70px;
    }

    .skills-card figure {
        text-align: center;
        min-height: 100px;
    }


}


@media screen and (max-width: 430px) {
    .project-card figure img {
        width: 10rem;
    }



    .project-card {
        font-size: .9rem;
        padding: .2rem;
    }

    /* .skills-card {
        width: 30px;
        margin: 10px;
        padding: .5rem;
    } */

    .skills-card figure img {
        width: 50px;
    }

    .skills-card h3 {
        font-size: .9rem;
    }

    .skills-card figure {
        text-align: center;
        min-height: 60px;
    }

}

@media screen and (max-width: 378px) {
    /* .skills-card {
        width: 15rem;
    } */
}