.ResetPassword {
    height: 100%;
    display: flex;
}

.reset-content {
    width: clamp(200px, 95%, 500px);
    margin: auto;
}

.reset-content h1 {
    text-align: center;
    color: var(--text-color);
    margin: 2rem 0rem;
}

.reset-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reset-content form input[type="password"],
.reset-content form input[type="submit"] {
    font-size: 1rem;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    padding: .8rem 1rem;
    margin: .4rem 0rem;
    border-radius: 100vmax;
}

.reset-content form input[type="submit"] {
    background-color: var(--text-color);
    color: white;
    font-size: 1.1rem;
    padding: .7rem 0rem;
    width: clamp(110px, 200px, 200px);
    border-radius: 100vmax;
    margin: .5rem auto;
    cursor: pointer;
}